<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="LOG_MSG">%style{%d}{bright,cyan} [%highlight{%-5level}] [%style{%t}{bright,magenta}] %style{%C{1.}}{bright,blue}: %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%style{%d}{bright,cyan} [%highlight{%-5level}] [%style{%t}{bright,magenta}] %style{%C{1.}}{bright,blue}: %msg%n%throwable" />-->
            <PatternLayout charset="UTF-8" pattern="${LOG_MSG}%throwable" disableAnsi="false"/>
        </Console>

        <RollingFile name="AccessAppender"
                     fileName="./logs/log4j2-accessLog.log"
                     filePattern="./logs/$${date:yyyy-MM}/log4j2-accessLog-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <Filters>
                <!-- accept info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <!--<PatternLayout>
                <pattern>%style{%d}{bright,cyan} [%highlight{%5level}] [%style{%t}{bright,magenta}] %style{%C{1.}}{bright,blue}: %m%n</pattern>
            </PatternLayout>-->
            <PatternLayout charset="UTF-8" pattern="${LOG_MSG}"/>

            <Policies>
                <!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="FileAppender"
                     fileName="./logs/log4j2-file.log"
                     filePattern="./logs/$${date:yyyy-MM}/log4j2-file-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <Filters>
                <!-- deny error, fatal -->
                <ThresholdFilter level="error"  onMatch="DENY"   onMismatch="NEUTRAL"/>

                <!-- accept info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!--<PatternLayout>
                <pattern>%style{%d}{bright,cyan} [%highlight{%5level}] [%style{%t}{bright,magenta}] %style{%C{1.}}{bright,blue}: %m%n</pattern>
            </PatternLayout>-->
            <PatternLayout charset="UTF-8" pattern="${LOG_MSG}"/>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorLogFileAppender"
                     fileName="./logs/log4j2-error.log"
                     filePattern="./logs/$${date:yyyy-MM}/log4j2-error-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <!--<PatternLayout>
                <pattern>%style{%d}{bright,cyan} [%highlight{%5level}] [%style{%t}{bright,magenta}] %style{%C{1.}}{bright,blue}: %m%n</pattern>
            </PatternLayout>-->
            <PatternLayout charset="UTF-8" pattern="${LOG_MSG}"/>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender" />
        </Root>

        <Logger name="org.springframework.boot" additivity="false">
            <AppenderRef ref="ErrorLogFileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="io.home.test.base.filter" additivity="false">
            <AppenderRef ref="AccessAppender" />
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Logger name="io.home.test" additivity="false">
            <AppenderRef ref="ErrorLogFileAppender"/>
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <!-- jdbc logger -->
        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Logger name="jdbc.connection" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>

</Configuration>